.link{
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    border-radius: 0.5rem;

}
.link:hover,
.link:active {
    background: linear-gradient(90deg, #ffa200, rgb(255, 185, 0));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px 4px rgba(248, 190, 42, 0.8));

}

.active {
    background: linear-gradient(90deg, #ff8a05, #f9b331);
    background-clip: text;
    -webkit-background-clip: text;

}

