.link{
    text-decoration: none;
    color: #51beff; /* LightSkyBlue */
    padding: 20px;
    border-radius: 0.5rem;
}

.link:hover,
.link:active {
    background-image: linear-gradient(to right, #00a1fc, #00a1fc); /* LightSkyBlue, Blue */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px 8px rgb(110, 210, 255)); /* LightSkyBlue */
}

.active {
    background: linear-gradient(90deg, #0000FF, #1E90FF); /* Blue, DodgerBlue */
    background-clip: text;
    -webkit-background-clip: text;
}