.main{
    background-color: white;
}
.imgCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.sign {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #1E90FF;
}

.mainImage {
    filter: brightness(40%);
}

.container {

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 50px 150px;
}

.maps {
    flex: 1.2;
}

.openingHours {
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-left: -500px;
}

.openingHours h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.openingHours ul {
    list-style: none;
    padding: 0;
}

.openingHours li {
    font-size: 25px;
    margin-bottom: 40px;
}

.address{
    color: black;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    flex: 1;
}
.address h3{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}
.phoneNumbers {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phoneNumber {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.phoneIcon {
    margin-right: 10px;
}

.phoneLink {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
