.big{
    background-color: white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    background-color: white;
    padding-bottom: 100px;
}

.sala {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.salaImage {
    filter: brightness(50%);
}


.hero {
    color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    overflow: hidden;

}


.sign {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 4rem;
    color: #1E90FF;
    z-index: 1;
}

.typeButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    margin-top: 30px;
    margin-bottom: 80px;
    filter: brightness(90%);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, #3cb5fb, #017cc4);




    moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.type:hover {
    background-position: 100% 0;
    moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: white;
}

.type:focus {
    outline: none;
}



/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (prefers-color-scheme: dark) {
    .vercelLogo {
        filter: invert(1);
    }

    .logo {
        filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
